<include file="Public/head" />


<body class="no-skin" >
    <include file="Public/header" />
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <include file="Public/sidebar" />
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <include file="Public/breadcrumbs" />

                <!-- /section:basics/content.breadcrumbs -->
                <div class="page-content">

                    <include file="Public/set" />

                    <!-- /section:settings.box -->

                    <div class="row" >
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row" >
                                <div id="accordion-sysinfo" class="accordion-style1 panel-group col-sm-3" style="width: 1150px;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" >
                                            <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse"
                                               data-parent="#accordion-sysinfo" href="#sysinfo">链家集团分店&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                               <input type="button" value="返回" name="" onclick="window.history.back(); ">
                                                 </a> </h4>
<!-- 链家集团分店 -->
<div  id="box1">
                                                    <div style="width: 100%;overflow: scroll;">
                                                        <table style="border: 1px solid gray;margin: 15px;width: 1090px;font-size: 14px;height: 300px;">
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>菜名</td>
                                                                <td>一月份</td>
                                                                <td>二月份</td>
                                                                <td>三月份</td>
                                                                <td>四月份</td>
                                                                <td>五月份</td>
                                                                <td>六月份</td>
                                                                <td>七月份</td>
                                                                <td>八月份</td>
                                                                <td>九月份</td>
                                                                <td>十月份</td>
                                                                <td>十一月份</td>
                                                                <td>十二月份</td>
                                                                <td>合计</td>
                                                                <td>销售额</td>
                                                            </tr>
                                                            <tr>
                                                                <td>羊肉串</td>
                                                                <td>24</td>
                                                                <td>46</td>
                                                                <td>38</td>
                                                                <td>59</td>
                                                                <td>45</td>
                                                                <td>43</td>
                                                                <td>42</td>
                                                                <td>29</td>
                                                                <td>19</td>
                                                                <td>42</td>
                                                                <td>36</td>
                                                                <td>53</td>
                                                                <td></td>
                                                                <td></td>

                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>糖醋里脊</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>凉拌粉皮</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>什锦锅子</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>焖扁豆</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>木须肉</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>猪肉粉条</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>青椒肉丝</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>酸辣白菜</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>焖鱼头</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>糖醋排骨</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>玉带虾仁</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>东坡肉</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>西湖醋鱼</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>佛跳墙</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>麻婆豆腐</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>清炒菜心
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>水煮鱼
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>豆腐干丝
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>锅巴肉
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>清蒸基围虾
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>

                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>麻辣牛肉
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>虾滑</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>

                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>鱼香肉丝
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>手撕包菜
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>脆皮鸡</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>煲仔饭</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr style="background-color: rgb(248,248,248);">
                                                                <td>黄瓜炒蛋</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                            <td>合计 </td>
                                                            <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                            <tr>
                                                            <td>销售额 </td>
                                                            <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div style="width: 100%;height: auto;padding-top: 10px; margin-left: 50px;">
                                                        
                                                        备注:
                                                        <p>
                                                        <textarea rows="6" cols="140"></textarea>
                                                        </p> 
                                                    </div>
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.main-content -->

        <include file="Public/footer" />

    </div>

    <!-- /.main-container -->

    <include file="Public/footerjs" />
    <!-- inline scripts related to this page -->
</body>
</html>
